.Login-bar {
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  padding: 3px;
  text-indent: 45px;
  font-size: 13px;
}

li {
  text-decoration: none;
  list-style: none;
}

.Login-menu {
  text-decoration-line: none;
  text-decoration: none;
  text-decoration-color: none;
  text-decoration-skip: none;
  text-decoration-style: none;
  color: gray;
}

a:hover {
  text-decoration-line: initial;
  color: whitesmoke;
}

.d-flex {
  display: flex;
  justify-content: right;
  margin-left: 1160px;
}

.icon {
  vertical-align: middle;
  display: inline-block;
  margin-top: -60px;
  margin-left: 45px;
  padding: 0px;
}

.Login-menu-Container {
  padding: 5px;
  background-color: black;
}
