.menu-container{
  padding: 1%;
  background-color: black;
}

.menu ul{
  padding: 0px;
  margin: 0px;
  display: flex;
}

.menu {
  padding: 0px;
  margin: 0px;
  display: flex;
  float:right;
  text-indent: 10px;
  margin-top: -13px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu li{
  list-style: none;
  
}

.menu a{
  color: gray;
  text-decoration-line: none;
  padding: 1em;
  display: block;
}

.menu a:hover{
  color: white;
  background-color: rgb(21, 21, 21);
}

.menu ul li ul{
  display:none;
}

.menu li:hover .submenu{
  display:block;
  background-color: black;
  color: rgb(21, 21, 21);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.Logo-Opper{
  font-size: 10px;
  color: gray;
}
