body{
  background-color: black;
}

.Menu-Container{

  padding: 2em;
  background-color: white;
}

h2{
  font-size: 5%;
}


.Menu{
  float:right;

  
  
}

.Menu ul{
  display: flex;
  padding: 0%;
  margin: 0%;
  list-style: none;
}

.Menu a{
  margin-top: -50px;
  display:block ;
  padding: 2em;
  height: 8%;
  background-color: white;
  text-decoration: none;
  color: gray;

  
}



.Menu ul li ul{
  display: none;
}

.Menu ul li a:hover + ul, .Menu ul li ul:hover{
  display: block;
}
